@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- js -->
    
    <script src="~/js/teacher/teacherIndex.js"></script>
    <link rel="stylesheet" href="~/css/teacher/style.css" />
</head>

<body>
    <main>
        <div class="search-form">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
        <div class="add-course">
            <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("AddCourse", "Teacher")">Add course</a>
 
        </div>

        <div class="course-list">
            <div class="course-item">
                <div class="course-title">
                    <strong>Network communication</strong>
                </div>
                <div class="category-list">
                    <div class="category-chip">
                        <p>Networking</p>
                    </div>
                    <div class="category-chip">
                        <p>Software</p>
                    </div>
                    <div class="category-chip">
                        <p>IT</p>
                    </div>
                </div>
                <div>
                    <p class="course-description">
                        Brainport Eindhoven is Europe's most innovative technology region.
                        Over 5000 high tech and IT companies work together in a unique
                        ecosystem.
                    </p>
                </div>
                <div>
                    <p class="course-price">Price: 100.000 vnd</p>
                </div>
                <div class="view-details">
                    <a href="@Url.Action("SingleCourseDetails", "Teacher", new { courseId = 1 })">View details</a>
                </div>
                <div class="course-status">
                    <p>Draft</p>
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        // index for teacher - get all courses by a teacher
        $(document).ready(function () {
            GetAllCoursesOfTeacher();
            searchCourse();
        });

        function getParameter(param) {
            var urlVar = window.location.search.substring(1);
            var urlParam = urlVar.split('=');
            if (urlParam[0] == param) {
                return urlParam[1];
            }
        }
        function GetAllCoursesOfTeacher() {
            let teacherId = getUserId();
            console.log(teacherId);
            $.ajax({
                headers: {
                    'Accept': '*/*',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: "http://localhost:5020/Teacher/GetAllCourses/" + teacherId,
                success: function (result) {
                    //console.log(result);
                    let biggest = "";
                    for (let i = 0; i < result.length; i++) {
                        var statusText = getCourseStatus(result[i].status);
                        const actionUrl = "http://localhost:5016/teacher/singleCourseDetails?courseId=" + result[i].courseId;
                        const a = `
                            <div class="course-item">
                                <div class="course-name">
                                    <strong>${result[i].courseName}</strong>
                                </div>
                                <div class="course-description">
                                    <p>${result[i].title}</p>
                                </div>
                                <div class="course-price">
                                    <p>Price: ${result[i].price} vnd</p>
                                </div>
                                <div class="view-details">
                                    <a href="${actionUrl}" class="btn btn-primary">View details</a>
                                </div>
                                <div class="course-status">
                                    <p>${statusText}</p>
                                </div>
                            </div>`;
                        biggest += a;
                    }
                    $(".course-list").html(biggest);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function getCourseStatus(statusId) {
            switch (statusId) {
                case "1":
                    return "Draft";
                case "2":
                    return "Pending";
                case "3":
                    return "Published";
                default:
                    return "Deleted";
            }
        }

        function searchCourse() {
            $("#btn-search").click(function (e) {
                e.preventDefault();
                let teacherId = getUserId();
                var searchword = $("#txt-search").val();
                if (!searchword) {
                    return;
                }
                $.ajax({
                    headers: {
                        'Accept': '*/*',
                        'Content-Type': 'application/json'
                    },
                    type: "GET",
                    url: "http://localhost:5020/Teacher/course/search/" + teacherId + "/" + searchword,
                    success: function (result) {
                        //console.log(result);
                        let biggest = "";
                        for (let i = 0; i < result.length; i++) {
                            var statusText = getCourseStatus(result[i].status);
                            const actionUrl = "http://localhost:5016/teacher/singleCourseDetails?courseId=" + result[i].courseId;
                            const a = `
                            <div class="course-item">
                                <div class="course-name">
                                    <strong>${result[i].courseName}</strong>
                                </div>
                                <div class="course-description">
                                    <p>${result[i].title}</p>
                                </div>
                                <div class="course-price">
                                    <p>Price: ${result[i].price} vnd</p>
                                </div>
                                <div class="view-details">
                                    <a href="${actionUrl}" class="btn btn-primary">View details</a>
                                </div>
                                <div class="course-status">
                                    <p>${statusText}</p>
                                </div>
                            </div>`;
                            biggest += a;
                        }
                        $(".course-list").html(biggest);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        }

    </script>
</body>
</html>
