@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/teacher/teacherIndex.js"></script>
    <link rel="stylesheet" href="~/css/teacher/style.css" />
</head>

<body>
    <main>
        <div class="search-form">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
        <div class="add-course">
            <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("AddCourse", "Teacher")">Add course</a>
 
        </div>

        <div class="course-list">
            <div class="course-item">
                <div class="course-title">
                    <strong>Network communication</strong>
                </div>
                <div class="category-list">
                    <div class="category-chip">
                        <p>Networking</p>
                    </div>
                    <div class="category-chip">
                        <p>Software</p>
                    </div>
                    <div class="category-chip">
                        <p>IT</p>
                    </div>
                </div>
                <div>
                    <p class="course-description">
                        Brainport Eindhoven is Europe's most innovative technology region.
                        Over 5000 high tech and IT companies work together in a unique
                        ecosystem.
                    </p>
                </div>
                <div>
                    <p class="course-price">Price: 100.000 vnd</p>
                </div>
                <div class="view-details">
                    <a href="@Url.Action("SingleCourseDetails", "Teacher", new { courseId = 1 })">View details</a>
                </div>
                <div class="course-status">
                    <p>Draft</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
