<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Detail-Account</title>
	
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/datepicker3.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">BRANIAC</a>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<img src="/imgs/admin-img/notifi.png" width="20" height="20" alt="notifi Icon"><span class="label label-danger">15</span>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<div class="dropdown-messages-box">
									<a href="profile.html" class="pull-left">
										<img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
									</a>
									<div class="message-body">
										<small class="pull-right">3 mins ago</small>
										<a href="#"><strong>John Doe</strong> commented on <strong>your photo</strong>.</a>
										<br /><small class="text-muted">1:24 pm - 25/03/2015</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="dropdown-messages-box">
									<a href="profile.html" class="pull-left">
										<img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
									</a>
									<div class="message-body">
										<small class="pull-right">1 hour ago</small>
										<a href="#">New message from <strong>Jane Doe</strong>.</a>
										<br /><small class="text-muted">12:27 pm - 25/03/2015</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="all-button">
									<a href="#">
										<em class="fa fa-inbox"></em> <strong>All Messages</strong>
									</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<img src="/imgs/admin-img/message.png" width="20" height="20" alt="notifi Icon"><span class="label label-info">5</span>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<em class="fa fa-envelope"></em> 1 New Message
										<span class="pull-right text-muted small">3 mins ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<em class="fa fa-heart"></em> 12 New Likes
										<span class="pull-right text-muted small">4 mins ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<em class="fa fa-user"></em> 5 New Followers
										<span class="pull-right text-muted small">4 mins ago</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/imgs/admin-img/male-user.png" width="40" height="40" alt="admin Icon">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Admin</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a style="font-size:small" href="/admin/manageaccount"><img src="/imgs/admin-img/acc.png" width="20" height="20" alt="acc Icon">&nbsp; Manage Account </a></li>
			<li><a style="font-size:small" href="/admin/managecourse"><img src="/imgs/admin-img/course.png" width="20" height="20" alt="course Icon">&nbsp; Manage Courses </a></li>
			<li><a style="font-size:small" href="/admin/reportedcomment"><img src="/imgs/admin-img/reported.png" width="20" height="20" alt="reported Icon">&nbsp;Reported Comments</a></li>
			<li><a href="/" style="font-size:small" href="#"><img src="/imgs/admin-img/logout.png" width="20" height="20" alt="logout Icon">&nbsp; Logout</a></li>
		</ul>

	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div >
			<ol class="breadcrumb">
				<li>
					<a href="/admin/manageaccount">
						<img src="/imgs/admin-img/home.png" width="20" height="20" alt="acc Icon">
					</a>
				</li>
				<li class="active">Detail Account</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Account Information</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="user_id"><strong>User ID:</strong></label>
							<span id="user_id"></span>
						</div>
						<div class="form-group">
							<label for="user_name"><strong>User Name:</strong></label>
							<span id="user_name"></span>
						</div>
						<div class="form-group">
							<label for="email"><strong>Email:</strong></label>
							<span id="email"></span>
						</div>
						<div class="form-group">
							<label for="balance"><strong>Balance:</strong></label>
							<span id="balance"></span>
						</div>
						<div class="form-group">
							<label for="role"><strong>Role:</strong></label>
							<span id="role"></span>
						</div>
						<div class="form-group">
							<label for="num_resources"><strong>Number of Resource:</strong></label>
							<span id="num_resources"></span>
							<button id="show_resources_button" class="btn btn-default"><img src="/imgs/admin-img/list.png" width="20" height="20" alt="acc Icon"></button>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<label for="status"><strong>Status:</strong></label>
								<span id="status"></span>
							</div>
							<div class="col-md-6">
								<label for="statusSelect"><strong>Edit Status:</strong></label>
								<select class="form-control" id="statusSelect">
									<option value="1">Active</option>
									<option value="0">Unactive</option>
							
									<!-- Add other status options as needed -->
								</select>
								<button id="saveStatus" onclick="updateUserStatus()" class="btn btn-primary"><img src="/imgs/admin-img/save.png" width="20" height="20" alt="acc Icon"> Save</button>
								<div style="color: green; font-weight: bold;" id="successMessage"></div>
							</div>
						</div>
						<div class="form-group">
							
						</div>
					</div>
				</div>
			</div>
		



			<ul id="test_list"></ul>
		</div><!--/.main-->


		


	</div><!--/.main-->
	<script>
		function Logout() {
			var AC_exist = false;
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				if (cookie.startsWith("web-at=")) {
					AC_exist = true;
					var tk = cookie.substring(7);
					callLogout(tk)
				}
			}
			if (!AC_exist) {
				getAccessToken();
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					if (cookie.startsWith("web-at=")) {
						AC_exist = true;
						var tk = cookie.substring(7);
						callLogout(tk)
					}
				}
			}
		}

		function callLogout(tk) {
			fetch("http://localhost:5020/api/logout", {
				headers: { Authorization: `Bearer ${tk}` },
			})
				.then(() => {
					document.cookie = `web-at=; max-age=0; path=/`;
					document.cookie = `web-rt=;max-age=0;  path=/`;
					document.cookie = `user-id=;max-age=0;  path=/`;
				});
		}
	</script>
<script>
		var urlParams = new URLSearchParams(window.location.search);
		var userId = urlParams.get('id');
        $(document).ready(function () {

            // Kiểm tra nếu có user ID thì thực hiện AJAX request để lấy thông tin người dùng
            if (userId) {
                $.ajax({
					// console.log("userid : " + userId);
                    url: 'http://localhost:5020/Admin/ManageUser/GetUser/' + userId,
                    method: 'GET',
                    dataType: 'json',
                    success: function (userData) {
						$('#user_id').text(userData.userId);
						$('#user_name').text(userData.userName);
						$('#email').text(userData.email);
						$('#balance').text(userData.balance);
						$('#role').text(userData.roleName);
						var status = userData.isActive == 1 ? "Active" : "Unactive"
						$('#status').text(status);
                    },
                    error: function () {
                        console.error('Error fetching detailed user information');
                    }
                });
            }
        });
		function updateUserStatus() {

			var status1 = document.getElementById("statusSelect").value;

			console.log("usser status"+status1);
			$.ajax({
				url: `http://localhost:5020/Admin/ManageUser/UpdateUserStatus/${userId}`,
				type: 'PUT',
				contentType: 'application/json',
				data: JSON.stringify(status1),
				success: function (response) {
					console.log('User status updated:', response);
					// Thực hiện các hành động khác sau khi cập nhật thành công
					// Store success message in sessionStorage
					sessionStorage.setItem('successMessage', 'Change status successfully!');
					location.reload();
				},
				error: function (xhr, status, error) {
					console.error('There was a problem updating course status:', error);
				}
			});
		}
		window.onload = function () {
			var successMessage = sessionStorage.getItem('successMessage');
			if (successMessage) {
				// Display success message in <div> element
				var successDiv = document.getElementById("successMessage");
				successDiv.innerText = successMessage;
				// Clear success message from sessionStorage
				sessionStorage.removeItem('successMessage');
			}
		};
    </script>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/chart.min.js"></script>
	<script src="/js/chart-data.js"></script>
	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/custom.js"></script>

</body>
</html>
