@{
    Layout = "_LayoutHome";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .green {
            color: green;
        }

        .red {
            color: red;
        }
        @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

p {
	margin: 0;
	line-height: 1.6;
}

ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));
	
	position: relative;
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
}

li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: rgb(70 70 70);
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

@@media (min-width: 40em) {
	li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}
	
	h3 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}
	
	h3::before {
		margin-right: 1.5rem;
	}
}

        .header-area .alazea-main-menu .classy-nav-container {
            background-color: transparent;
            height: 100px;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="history-balance">
        <h1>History of order</h1>
        <h3>
            <a style="    background-color: #9fadbd;
font-size: 23px;
    border-radius: 11px;
    height: 38px;
    width: 163px;" onclick="addMoney()" href="#">Add more money</a>
        </h3>
     
        <div >
            <div class="order">
                <div class="order-id"></div>
                <div class="course-name"></div>
                <div class="course-price"></div>
                <div class="order-date"></div>
            </div>
        </div>
    </div>
    <ol class="listOrder" style="--length: 5" role="list">
        

    </ol>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
    <script src="~/js/auth/api.js"></script>
    <script>
        const token = getAccessToken();
        var userId = -1;

        getUser();

        function getUser() {
            fetch("http://localhost:5020/api/User/CurrentUser", {
                headers: { Authorization: `Bearer ${token}` },
            })
                .then((response) => response.json())
                .then((data) => {
                    userId = data.userId;
                    getHistoryOrder();
                });
        }

        function getHistoryOrder() {
            fetch(`http://localhost:5020/api/Order/History/${userId}`, {
                headers: { Authorization: `Bearer ${token}` },
            })
                .then((response) => response.json())
                .then((data) => {
                    var listOrder = document.querySelector(".listOrder");
                    data.forEach((order) => {
                        var divOrder = document.createElement("div");
                        divOrder.classList.add("order");

                        var amount = order.total;
                        var amountClass = "";
                        var courseName = "";
                        if (order.courseId === null) {
                            amountClass = "green";
                            amount = "+" + amount;
                            divOrder.innerHTML = `
                                        <li style="--i: 5">


                              <div class="order-id">Order Id: ${order.orderId}</div>
                              <div class="course-name">${courseName}</div>
                              <div class="course-price ${amountClass}">Amount: ${amount}</div>
                              <div class="order-date">Order date: ${order.date}</div>
                                      </li>
                            `;
                        } else {
                            amountClass = "red";
                            amount = "-" + amount;
                            courseName = "Course: " + order.courseName;
                            divOrder.innerHTML = `
                                        <li style="--i: 1">


                              <div class="order-id">Order Id: ${order.orderId}</div>
                              <div class="course-name">${courseName}</div>
                              <div class="course-price ${amountClass}">Amount: ${amount}</div>
                              <div class="order-date">Order date: ${order.date}</div>
                                      </li>
                            `;
                        }

                        
                        listOrder.appendChild(divOrder);
                    });
                });
        }

        function addMoney() {
            var money = prompt("Enter the amount of money you want to add", "10");
            money = parseFloat(money);
            if (money != null && money > 10) {
                window.location.href = `http://localhost:5016/Student/CreatePaymentUrl?userId=${userId}&amount=${money}`;
            } else { 
                alert("The amount of money must be greater than 10");
            }
        }
    </script>
</body>
</html>
