<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div class="inforPayment">
        <h1>Infor of order</h1>
        <div class="course-name"></div>
        <div class="course-price"></div>
        <div class="balance"></div>
        <form action="" id="form-payment">
            <input type="hidden" name="" id="courseId" />
            <input type="hidden" name="" id="userId" />
            <input type="hidden" name="" id="price" />
            <input type="hidden" name="" id="balance" />
            <button type="submit">Checkout</button>
        </form>
    </div>

    <script>
        const token =
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJTdHVkZW50IiwiSUQiOiIxIiwiZXhwIjoxNzEyNTU5NDA2LCJpc3MiOiJodHRwczovL3Byb3ZpZGVyLmRvbWFpbi5jb20iLCJhdWQiOiJodHRwczovL3Byb3ZpZGVyLmRvbWFpbi5jb20ifQ.H1JkX5QuqhFZQRG87-UHBHGPuXNVZ-m55n8wb5OuU5I";
        const urlParam = new URLSearchParams(window.location.search);
        const courseId = urlParam.get("courseId");
        var userId = -1;
        getUser();
        function getUser() {
            fetch("http://localhost:5020/api/User/CurrentUser", {
                headers: { Authorization: `Bearer ${token}` },
            })
                .then((response) => response.json())
                .then((data) => {
                    userId = data.userId;
                    document.getElementById("userId").value = userId;
                    document.getElementById("balance").value = data.balance;
                    var divBalance = document.querySelector(".balance");
                    divBalance.innerHTML = `Balance: ${data.balance}`;
                    getCourse();
                });
        }
        function getCourse() {
            fetch(`http://localhost:5020/api/Course/CourseDetail/${courseId}`, {
                headers: { Authorization: `Bearer ${token}` },
            })
                .then((response) => response.json())
                .then((data) => {
                    document.getElementById("courseId").value = data.courseId;
                    document.getElementById("price").value = data.price;
                    var divCourseName = document.querySelector(".course-name");
                    var divCoursePrice = document.querySelector(".course-price");
                    divCourseName.innerHTML = `Course: ${data.name}`;
                    divCoursePrice.innerHTML = `Price: ${data.price}`;
                });
        }

        document
            .getElementById("form-payment")
            .addEventListener("submit", function (e) {
                e.preventDefault();
                var courseId = document.getElementById("courseId").value;
                var userId = document.getElementById("userId").value;
                var price = document.getElementById("price").value;
                var balance = document.getElementById("balance").value;
                var price = parseFloat(document.getElementById("price").value); // Convert to number
                var balance = parseFloat(document.getElementById("balance").value); // Convert to number

                

                if (balance < price) {
                    var neededMoney = price - balance;
                    var addedMoney = prompt("Enter the amount of money you want to add(must be greater than or equal 5):", neededMoney);
                    if (addedMoney === null) {
                        return;
                    } else {
                        addedMoney = parseFloat(addedMoney);
                        if (isNaN(addedMoney) || addedMoney < 5) {
                            alert("Invalid input. Please enter a valid amount.");
                        } else {
                            window.location.href = `http://localhost:5016/Student/CreatePaymentUrl?userId=${userId}&amount=${addedMoney}&isCheckout=true&courseId=${courseId}`;
                        }
                    }
                } else {
                    var confirmEnroll = confirm(
                        `Are you sure to enroll this course with price: ${price}?`
                    );
                    if (!confirmEnroll)
                        window.location.href = `/Student/CourseDetail?courseId=${courseId}`;
                    var data = {
                        courseId: courseId,
                        userId: userId,
                    };
                    fetch("http://localhost:5020/api/Course/EnrollCourse", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            Authorization: `Bearer ${token}`,
                        },
                        body: JSON.stringify(data),
                    })
                        .then((response) => {
                            if (response.ok) {
                                alert("Course enrolled successfully!");
                                fetchOrderDetail(userId, courseId, price);
                                // Redirect to some success page or perform other actions
                            } else {
                                alert("Failed to enroll course. Please try again.");
                            }
                        })
                        .catch((error) => {
                            console.error("Error:", error);
                        });
                }
            });
        function fetchOrderDetail(userId, courseId, price) {
            var data = {
                userId: userId,
                courseId: courseId,
                total: price,
            };
            fetch(`http://localhost:5020/api/Order/Payment`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${token}`,
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    if (response.ok) {
                        window.location.href = `/Student/CourseDetail?courseId=${courseId}`;
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }
    </script>
</body>
</html>
