@{
    Layout = "_LayoutHome";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">


    <style>
        .btnSave {
            display: none;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

            .profile-button:hover {
                background: #682773
            }

            .profile-button:focus {
                background: #682773;
                box-shadow: none
            }

            .profile-button:active {
                background: #682773;
                box-shadow: none
            }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50" id="usermail">edogaru@mail.com.my</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="enter phone number" disabled id="txtName"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter address line 1" disabled id="txtEmail"></div>

                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button btnUpdate" type="button">Update Profile</button></div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button btnSave" type="button">Save Profile</button></div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div onclick="addMoney()" class="d-flex justify-content-between align-items-center experience"><span></span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Add more money</span></div><br>
                    <div class="col-md-12"><label class="labels">Balance</label><input type="text" class="form-control" placeholder="experience" disabled name="" id="txtBalance"></div> <br>
                    @*                     <div class="d-flex justify-content-between align-items-center experience "><span class="border px-3 p-1 add-experience aChange"><i class="fa fa-plus aChange"></i>CHange Password</span></div><br>
                    *@
                    <button onclick="Changepass()" class="btn btn-primary profile-button btnChangePass" type="button">Change Password</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <script src="~/js/auth/api.js"></script>
    <script>
        const token = getAccessToken();
        var userId = -1;
        var email = "";
        getUser();
        function getUser() {
            fetch("http://localhost:5020/api/User/CurrentUser", {
                headers: { Authorization: `Bearer ${token}` },
            })
                .then((response) => response.json())
                .then((data) => {
                    userId = data.userId;
                    document.getElementById("txtName").value = data.userName;
                    email = data.email;
                    document.getElementById("txtEmail").value = data.email;
                    document.getElementById("txtBalance").value = data.balance;
                    document.getElementById("txtPass").value = data.password;
                });
        }
        document
            .querySelector(".btnUpdate")
            .addEventListener("click", function () {
                document.querySelector(".btnSave").style.display = "block";
                document.querySelector(".btnUpdate").style.display = "none";
                document.getElementById("txtName").disabled = false;
                document.getElementById("txtEmail").disabled = false;
            });

        document.querySelector(".btnSave").addEventListener("click", function () {
            document.querySelector(".btnSave").style.display = "none";
            document.querySelector(".btnUpdate").style.display = "block";
            fetch(`http://localhost:5020/api/User/Update/${userId}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${token}`,
                },
                body: JSON.stringify({
                    userName: document.getElementById("txtName").value,
                    email: document.getElementById("txtEmail").value,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    getUser();
                });
        });

        document
            .querySelector(".btnShowPass")
            .addEventListener("click", function () {
                var x = document.getElementById("txtPass");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            });

        function addMoney() {
            var money = prompt("Enter the amount of money you want to add", "10");
            money = parseFloat(money);
            if (money != null && money > 0) {
                window.location.href = `http://localhost:5016/Student/CreatePaymentUrl?userId=${userId}&amount=${money}`;
            }
        }

        function Changepass() {
            fetch(`http://localhost:5020/api/request_reset_pass/${email}`)
                .then(response => {
                    if (response.ok) {
                        alert("An email has just sent you. Please check");
                    } else {
                        alert("Don't have email in system!");
                    }
                });
        }

    </script>
</body>
</html>
