/****** Object:  Database [PRN231_V2]    Script Date: 3/20/2024 12:31:34 AM ******/
CREATE DATABASE [PRN231_V2]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[QuestionId] [int] NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryCourse]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryCourse](
	[CategoryCourseId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[CourseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryCourseId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CourseId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CommentDate] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NULL,
	[Date] [datetime] NULL,
	[Total] [money] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[TestId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CourseId] [int] NULL,
	[Point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TokenHash] [nvarchar](1000) NOT NULL,
	[TokenSalt] [nvarchar](50) NOT NULL,
	[TS] [smalldatetime] NOT NULL,
	[ExpiryDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportedComment]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportedComment](
	[ReportedCommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserCommentId] [int] NOT NULL,
	[UserReportId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ReasonReport] [varchar](max) NULL,
 CONSTRAINT [PK_ReportedComment] PRIMARY KEY CLUSTERED 
(
	[ReportedCommentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Description] [nvarchar](255) NULL,
	[CourseId] [int] NULL,
	[IsFree] [bit] NULL,
	[OrdinalNumber] [int] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceUser]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceUser](
	[ResourceUserId] [int] IDENTITY(1,1) NOT NULL,
	[ResourceId] [int] NULL,
	[UserId] [int] NULL,
	[IsComplete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [nvarchar](255) NOT NULL,
	[Time] [int] NULL,
	[PercentPoint] [decimal](5, 2) NULL,
	[CourseId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[RoleId] [int] NULL,
	[Balance] [money] NULL,
	[IsActive] [bit] NULL,
	[PasswordSalt] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourse]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourse](
	[UserCourseId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CourseId] [int] NULL,
	[IsStudent] [bit] NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserCourseId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTest]    Script Date: 3/20/2024 12:31:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTest](
	[UserTestId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NULL,
	[UserId] [int] NULL,
	[Point] [float] NULL,
	[TestDate] [datetime] NULL,
	[TotalTime] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserTestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerId], [Content], [QuestionId], [IsCorrect]) VALUES (1, N'Dễ sử dụng', 1, 1)
INSERT [dbo].[Answer] ([AnswerId], [Content], [QuestionId], [IsCorrect]) VALUES (21, N'Có thể phân tích (hiểu) được', 1, 1)
INSERT [dbo].[Answer] ([AnswerId], [Content], [QuestionId], [IsCorrect]) VALUES (22, N'Có thể thay đổi được', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Answer] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Status]) VALUES (1, N'Html', NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Status]) VALUES (2, N'Css', NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Status]) VALUES (3, N'JavaScript', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryCourse] ON 

INSERT [dbo].[CategoryCourse] ([CategoryCourseId], [CategoryId], [CourseId]) VALUES (1, 8, 1)
INSERT [dbo].[CategoryCourse] ([CategoryCourseId], [CategoryId], [CourseId]) VALUES (2, 7, 2)
INSERT [dbo].[CategoryCourse] ([CategoryCourseId], [CategoryId], [CourseId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[CategoryCourse] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [UserId], [CourseId], [Content], [CommentDate], [Status]) VALUES (3, 1, 1, N'Good', CAST(N'2024-03-09T00:00:00.000' AS DateTime), N'1')
INSERT [dbo].[Comment] ([CommentId], [UserId], [CourseId], [Content], [CommentDate], [Status]) VALUES (4, 1, 2, N'Good', CAST(N'2024-03-09T00:00:00.000' AS DateTime), N'1')
INSERT [dbo].[Comment] ([CommentId], [UserId], [CourseId], [Content], [CommentDate], [Status]) VALUES (5, 1, 3, N'Good', CAST(N'2024-03-09T00:00:00.000' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseId], [CourseName], [Title], [Price], [Status]) VALUES (1, N'Software Enginering', N'The tutorial of developing software', CAST(112.00 AS Decimal(18, 2)), N'0')
INSERT [dbo].[Course] ([CourseId], [CourseName], [Title], [Price], [Status]) VALUES (2, N'Google Analysis', N'Work with data of Google', CAST(3221.00 AS Decimal(18, 2)), N'1')
INSERT [dbo].[Course] ([CourseId], [CourseName], [Title], [Price], [Status]) VALUES (3, N'JavaScript Tutorial', N'Basic Java ', CAST(11.00 AS Decimal(18, 2)), N'1')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderId], [UserId], [CourseId], [Date], [Total]) VALUES (3, 1, 1, CAST(N'2024-03-09T00:00:00.000' AS DateTime), 12.0000)
INSERT [dbo].[OrderDetail] ([OrderId], [UserId], [CourseId], [Date], [Total]) VALUES (4, 6, 2, CAST(N'2024-03-09T00:00:00.000' AS DateTime), 133.0000)
INSERT [dbo].[OrderDetail] ([OrderId], [UserId], [CourseId], [Date], [Total]) VALUES (5, 8, 3, CAST(N'2024-03-09T00:00:00.000' AS DateTime), 125.0000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionId], [Content], [TestId]) VALUES (1, N'Đâu kHÔNG là độ đo về tính hiệu quả của một hệ thống phần mềm?', 1)
INSERT [dbo].[Question] ([QuestionId], [Content], [TestId]) VALUES (9, N'Chọn phát biểu đúng nhất trong các phát biểu sau.', 9)
INSERT [dbo].[Question] ([QuestionId], [Content], [TestId]) VALUES (10, N'Vòng đời phát triển phần mềm', 9)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingId], [UserId], [CourseId], [Point]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Rating] ([RatingId], [UserId], [CourseId], [Point]) VALUES (2, 6, 2, 2)
INSERT [dbo].[Rating] ([RatingId], [UserId], [CourseId], [Point]) VALUES (3, 8, 3, 3)
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshToken] ON 

INSERT [dbo].[RefreshToken] ([Id], [UserId], [TokenHash], [TokenSalt], [TS], [ExpiryDate]) VALUES (12, 13, N'qJ1E6RP/3GFWo6bfIptJEtufa2l/NrzHORJQ8RLFrOU=', N'vOYuh5JrUxugL28+anA5R9vmxg7OB/8oXizu3KE4X8Y=', CAST(N'2024-03-19T02:28:00' AS SmallDateTime), CAST(N'2024-04-18T02:28:00' AS SmallDateTime))
INSERT [dbo].[RefreshToken] ([Id], [UserId], [TokenHash], [TokenSalt], [TS], [ExpiryDate]) VALUES (33, 18, N'BfofCffKe9VbRwCkNmShHyvzmY+Gpq5kfkJ7JLctev0=', N'drpS+n/m5Perl/mEOsbInAnp+RgCfUZ6a+EtymnFTkU=', CAST(N'2024-03-19T19:34:00' AS SmallDateTime), CAST(N'2024-04-18T19:34:00' AS SmallDateTime))
INSERT [dbo].[RefreshToken] ([Id], [UserId], [TokenHash], [TokenSalt], [TS], [ExpiryDate]) VALUES (49, 21, N'5fTckF0mLN6Ys5yuwMO6pHq1sPZ36SIutWQZjn1lMho=', N'jhNbYGseGYMYoS4u39oIg6zv2OvyEkBt6tlZQLSFleA=', CAST(N'2024-03-19T21:56:00' AS SmallDateTime), CAST(N'2024-04-18T21:56:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[RefreshToken] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportedComment] ON 

INSERT [dbo].[ReportedComment] ([ReportedCommentId], [CommentId], [UserCommentId], [UserReportId], [DateTime], [ReasonReport]) VALUES (1, 3, 1, 2, CAST(N'2024-03-09T00:00:00.000' AS DateTime), N'Fail')
INSERT [dbo].[ReportedComment] ([ReportedCommentId], [CommentId], [UserCommentId], [UserReportId], [DateTime], [ReasonReport]) VALUES (4, 4, 1, 4, CAST(N'2024-03-09T00:00:00.000' AS DateTime), N'Fail')
INSERT [dbo].[ReportedComment] ([ReportedCommentId], [CommentId], [UserCommentId], [UserReportId], [DateTime], [ReasonReport]) VALUES (6, 10, 9, 4, CAST(N'2024-03-09T00:00:00.000' AS DateTime), N'Fail')
SET IDENTITY_INSERT [dbo].[ReportedComment] OFF
GO
SET IDENTITY_INSERT [dbo].[Resource] ON 

INSERT [dbo].[Resource] ([ResourceId], [Content], [Description], [CourseId], [IsFree], [OrdinalNumber], [Type], [Name], [Status]) VALUES (1, N'Noi dung 1', N'Des 1', 1, 0, 1, N'Reading', N'Introduce', 1)
INSERT [dbo].[Resource] ([ResourceId], [Content], [Description], [CourseId], [IsFree], [OrdinalNumber], [Type], [Name], [Status]) VALUES (2, N'Noi dung 2', N'Des 2', 1, 0, 2, N'Reading', N'Lesson 2 test', 1)
INSERT [dbo].[Resource] ([ResourceId], [Content], [Description], [CourseId], [IsFree], [OrdinalNumber], [Type], [Name], [Status]) VALUES (3, N'Noi dung 17', N'Des 1', 5, 0, 1, N'Reading', N'Introduce', 1)
SET IDENTITY_INSERT [dbo].[Resource] OFF
GO
SET IDENTITY_INSERT [dbo].[ResourceUser] ON 

INSERT [dbo].[ResourceUser] ([ResourceUserId], [ResourceId], [UserId], [IsComplete]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ResourceUser] ([ResourceUserId], [ResourceId], [UserId], [IsComplete]) VALUES (2, 2, 1, 0)
INSERT [dbo].[ResourceUser] ([ResourceUserId], [ResourceId], [UserId], [IsComplete]) VALUES (3, 3, 6, 0)
SET IDENTITY_INSERT [dbo].[ResourceUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Student')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Teacher')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([TestId], [TestName], [Time], [PercentPoint], [CourseId], [Status]) VALUES (1, N'Test1', 30, CAST(100.00 AS Decimal(5, 2)), 1, N'1')
INSERT [dbo].[Test] ([TestId], [TestName], [Time], [PercentPoint], [CourseId], [Status]) VALUES (2, N'Test2', 60, CAST(100.00 AS Decimal(5, 2)), 2, N'1')
INSERT [dbo].[Test] ([TestId], [TestName], [Time], [PercentPoint], [CourseId], [Status]) VALUES (5, N'Test3', 60, CAST(100.00 AS Decimal(5, 2)), 3, N'1')
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [RoleId], [Balance], [IsActive], [PasswordSalt]) VALUES (1, N'DungND', N'7Z12fY9hn0IctGXbH1OkOGyGBnhnMv0MaaW8F6jf5hg=', N'dacdung@gmail.com', 1, 9664.0000, 0, N'Rvwv+Lksp1y+SgmXVAaaEXaSAGjaWY3YnO5PllRfcDo=')
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [RoleId], [Balance], [IsActive], [PasswordSalt]) VALUES (2, N'HoaTT', N'1', N'test@gmail.com', 2, 358.4000, 1, N'DaKGa9E/juiNM4FNjmtjpewgjUbs9w5ZAomY56tJPRU=')
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [RoleId], [Balance], [IsActive], [PasswordSalt]) VALUES (4, N'Dungndhe16', N'123456', N'dungndhe16@fpt.edu.vn', 2, 113.6000, 0, N'DaKGa9E/juiNM4FNjmtjpewgjUbs9w5ZAomY56tJPRU=')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCourse] ON 

INSERT [dbo].[UserCourse] ([UserCourseId], [UserId], [CourseId], [IsStudent], [Status]) VALUES (1, 1, 1, 1, N'1')
INSERT [dbo].[UserCourse] ([UserCourseId], [UserId], [CourseId], [IsStudent], [Status]) VALUES (2, 1, 2, 1, N'1')
INSERT [dbo].[UserCourse] ([UserCourseId], [UserId], [CourseId], [IsStudent], [Status]) VALUES (3, 2, 1, 0, N'1')
SET IDENTITY_INSERT [dbo].[UserCourse] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTest] ON 

INSERT [dbo].[UserTest] ([UserTestId], [TestId], [UserId], [Point], [TestDate], [TotalTime]) VALUES (1, 1, 1, 8, CAST(N'2024-03-11T00:00:00.000' AS DateTime), 10)
INSERT [dbo].[UserTest] ([UserTestId], [TestId], [UserId], [Point], [TestDate], [TotalTime]) VALUES (2, 1, 1, 4, CAST(N'2024-02-10T00:00:00.000' AS DateTime), 15)
INSERT [dbo].[UserTest] ([UserTestId], [TestId], [UserId], [Point], [TestDate], [TotalTime]) VALUES (3, 9, 1, 7, CAST(N'2024-03-10T00:00:00.000' AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[UserTest] OFF
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[CategoryCourse]  WITH CHECK ADD  CONSTRAINT [FK_CategoryCourse_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[CategoryCourse] CHECK CONSTRAINT [FK_CategoryCourse_Category]
GO
ALTER TABLE [dbo].[CategoryCourse]  WITH CHECK ADD  CONSTRAINT [FK_CategoryCourse_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[CategoryCourse] CHECK CONSTRAINT [FK_CategoryCourse_Course]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Course]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Course]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_User]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Test] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([TestId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Test]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Course]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_User]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_User]
GO
ALTER TABLE [dbo].[ReportedComment]  WITH CHECK ADD  CONSTRAINT [FK_ReportedComment_Comment] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([CommentId])
GO
ALTER TABLE [dbo].[ReportedComment] CHECK CONSTRAINT [FK_ReportedComment_Comment]
GO
ALTER TABLE [dbo].[ReportedComment]  WITH CHECK ADD  CONSTRAINT [FK_ReportedComment_UserComment] FOREIGN KEY([UserCommentId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ReportedComment] CHECK CONSTRAINT [FK_ReportedComment_UserComment]
GO
ALTER TABLE [dbo].[ReportedComment]  WITH CHECK ADD  CONSTRAINT [FK_ReportedComment_UserReport] FOREIGN KEY([UserReportId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ReportedComment] CHECK CONSTRAINT [FK_ReportedComment_UserReport]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_Resource_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_Resource_Course]
GO
ALTER TABLE [dbo].[ResourceUser]  WITH CHECK ADD  CONSTRAINT [FK_ResourceUser_Resource] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resource] ([ResourceId])
GO
ALTER TABLE [dbo].[ResourceUser] CHECK CONSTRAINT [FK_ResourceUser_Resource]
GO
ALTER TABLE [dbo].[ResourceUser]  WITH CHECK ADD  CONSTRAINT [FK_ResourceUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ResourceUser] CHECK CONSTRAINT [FK_ResourceUser_User]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Course]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserCourse]  WITH CHECK ADD  CONSTRAINT [FK_UserCourse_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[UserCourse] CHECK CONSTRAINT [FK_UserCourse_Course]
GO
ALTER TABLE [dbo].[UserCourse]  WITH CHECK ADD  CONSTRAINT [FK_UserCourse_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserCourse] CHECK CONSTRAINT [FK_UserCourse_User]
GO
ALTER TABLE [dbo].[UserTest]  WITH CHECK ADD  CONSTRAINT [FK_UserTest_Test] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([TestId])
GO
ALTER TABLE [dbo].[UserTest] CHECK CONSTRAINT [FK_UserTest_Test]
GO
ALTER TABLE [dbo].[UserTest]  WITH CHECK ADD  CONSTRAINT [FK_UserTest_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserTest] CHECK CONSTRAINT [FK_UserTest_User]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD CHECK  (([Point]>=(1) AND [Point]<=(5)))
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [CK_Resource_Type] CHECK  (([Type]='Reading' OR [Type]='Video'))
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [CK_Resource_Type]
GO
