@{
	Layout = "_LoginLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


	<link rel="icon" href="~/Assets/HomePage/img/core-img/rafs.ico">

	<!-- Core Stylesheet -->

	<style>

		@@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

		* {
			box-sizing: border-box;
		}

		body {
			background: #f6f5f7;
			background-image: url("https://previews.123rf.com/images/kudryashka/kudryashka1807/kudryashka180700529/114803421-back-to-school-background-for-your-design-vector-illustration.jpg");
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-family: 'Montserrat', sans-serif;
			height: 100vh;
			margin: -20px 0 50px;
			
		}

		h1 {
			font-weight: bold;
			margin: 0;
		}

		h2 {
			text-align: center;
		}

		p {
			font-size: 14px;
			font-weight: 100;
			line-height: 20px;
			letter-spacing: 0.5px;
			margin: 20px 0 30px;
		}

		span {
			font-size: 12px;
		}

		a {
			color: #333;
			font-size: 14px;
			text-decoration: none;
			margin: 15px 0;
		}

		button {
			border-radius: 20px;
			border: 1px solid blue;
			background-color: blue;
			color: #FFFFFF;
			font-size: 12px;
			font-weight: bold;
			padding: 12px 45px;
			letter-spacing: 1px;
			text-transform: uppercase;
			transition: transform 80ms ease-in;
		}

			button:active {
				transform: scale(0.95);
			}

			button:focus {
				outline: none;
			}

			button.ghost {
				background-color: blue;
				border-color: blue;
			}

			button.ghost2 {
				background-color: white;
				border-color: white;
				color: #564caf;
				;
			}

		form {
			background-color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 50px;
			height: 100%;
			text-align: center;
		}

		input {
			background-color: #eee;
			border: none;
			padding: 12px 15px;
			margin: 8px 0;
			width: 100%;
		}

		.container {
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			position: relative;
			overflow: hidden;
			width: 768px;
			max-width: 100%;
			min-height: 480px;
		}

		.form-container {
			position: absolute;
			top: 0;
			height: 100%;
			transition: all 0.6s ease-in-out;
		}

		.sign-in-container {
			left: 0;
			width: 50%;
			z-index: 2;
		}

		.container.right-panel-active .sign-in-container {
			transform: translateX(100%);
		}

		.sign-up-container {
			left: 0;
			width: 50%;
			opacity: 0;
			z-index: 1;
		}

		.container.right-panel-active .sign-up-container {
			transform: translateX(100%);
			opacity: 1;
			z-index: 5;
			animation: show 0.6s;
		}

		@@keyframes show {
			0%, 49.99% {
				opacity: 0;
				z-index: 1;
			}

			50%, 100% {
				opacity: 1;
				z-index: 5;
			}
		}

		.overlay-container {
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
			height: 100%;
			overflow: hidden;
			transition: transform 0.6s ease-in-out;
			z-index: 100;
		}

		.container.right-panel-active .overlay-container {
			transform: translateX(-100%);
		}

		.overlay {
			background: #FF416C;
			background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
			background: linear-gradient(to right, #637A9F, #637A9F);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			color: #FFFFFF;
			position: relative;
			left: -100%;
			height: 100%;
			width: 200%;
			transform: translateX(0);
			transition: transform 0.6s ease-in-out;
		}

		.container.right-panel-active .overlay {
			transform: translateX(50%);
		}

		.overlay-panel {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 40px;
			text-align: center;
			top: 0;
			height: 100%;
			width: 50%;
			transform: translateX(0);
			transition: transform 0.6s ease-in-out;
		}

		.overlay-left {
			transform: translateX(-20%);
		}

		.container.right-panel-active .overlay-left {
			transform: translateX(0);
		}

		.overlay-right {
			right: 0;
			transform: translateX(0);
		}

		.container.right-panel-active .overlay-right {
			transform: translateX(20%);
		}

		.social-container {
			margin: 20px 0;
		}

			.social-container a {
				border: 1px solid #DDDDDD;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin: 0 5px;
				height: 40px;
				width: 40px;
			}

		footer {
			background-color: #222;
			color: #fff;
			font-size: 14px;
			bottom: 0;
			position: fixed;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 999;
		}

			footer p {
				margin: 10px 0;
			}

			footer i {
				color: red;
			}

			footer a {
				color: #3c97bf;
				text-decoration: none;
			}

		.overlay2 {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.7);
			transition: opacity 50ms;
			visibility: hidden;
			opacity: 0;
		}

		.appear {
			visibility: visible;
			opacity: 1;
		}

		.popup {
			background: white;
			border-radius: 50px;
			width: 60%;
			position: relative;
			transition: all 5s ease-in-out;
		}

		.disappear {
			visibility: hidden;
		}

		.popup h2 {
			margin-top: 0;
			color: #333;
			font-family: Tahoma, Arial, sans-serif;
		}

		.popup .close {
			position: absolute;
			top: 20px;
			right: 0px;
			transition: all 200ms;
			font-size: 30px;
			font-weight: bold;
			text-decoration: none;
			color: #333;
		}

			.popup .close:hover {
				color: #06D85F;
			}

		.popup .content {
			max-height: 30%;
			overflow: auto;
		}

		.form-gap {
			padding-top: 70px;
		}

		@@media screen and (max-width: 700px) {
			.box {
				width: 70%;
			}

			.popup {
				width: 100%;
			}
		}

		@@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

		* {
			box-sizing: border-box;
		}

		body {
			background: #f6f5f7;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-family: 'Montserrat', sans-serif;
			height: 100vh;
			margin: -20px 0 50px;
		}

		h1 {
			font-weight: bold;
			margin: 0;
		}

		h2 {
			text-align: center;
		}

		p {
			font-size: 14px;
			font-weight: 100;
			line-height: 20px;
			letter-spacing: 0.5px;
			margin: 20px 0 30px;
		}

		span {
			font-size: 12px;
		}

		a {
			color: #333;
			font-size: 14px;
			text-decoration: none;
			margin: 15px 0;
		}

		button {
			border-radius: 20px;
			border: 1px solid #FF4B2B;
			background-color: #FF4B2B;
			color: #FFFFFF;
			font-size: 12px;
			font-weight: bold;
			padding: 12px 45px;
			letter-spacing: 1px;
			text-transform: uppercase;
			transition: transform 80ms ease-in;
		}

			button:active {
				transform: scale(0.95);
			}

			button:focus {
				outline: none;
			}

			button.ghost {
				background-color: transparent;
				border-color: #FFFFFF;
			}

		form {
			background-color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 50px;
			height: 100%;
			text-align: center;
		}

		input {
			background-color: #eee;
			border: none;
			padding: 12px 15px;
			margin: 8px 0;
			width: 100%;
		}

		.container {
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			position: relative;
			overflow: hidden;
			width: 768px;
			max-width: 100%;
			min-height: 480px;
		}

		.form-container {
			position: absolute;
			top: 0;
			height: 100%;
			transition: all 0.6s ease-in-out;
		}

		.sign-in-container {
			left: 0;
			width: 50%;
			z-index: 2;
		}

		.container.right-panel-active .sign-in-container {
			transform: translateX(100%);
		}

		.sign-up-container {
			left: 0;
			width: 50%;
			opacity: 0;
			z-index: 1;
		}

		.container.right-panel-active .sign-up-container {
			transform: translateX(100%);
			opacity: 1;
			z-index: 5;
			animation: show 0.6s;
		}

		@@keyframes show {
			0%, 49.99% {
				opacity: 0;
				z-index: 1;
			}

			50%, 100% {
				opacity: 1;
				z-index: 5;
			}
		}

		.overlay-container {
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
			height: 100%;
			overflow: hidden;
			transition: transform 0.6s ease-in-out;
			z-index: 100;
		}

		.container.right-panel-active .overlay-container {
			transform: translateX(-100%);
		}

		.overlay {
			background-color:blue;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			color: #FFFFFF;
			position: relative;
			left: -100%;
			height: 100%;
			width: 200%;
			transform: translateX(0);
			transition: transform 0.6s ease-in-out;
		}

		.container.right-panel-active .overlay {
			transform: translateX(50%);
		}

		.overlay-panel {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 40px;
			text-align: center;
			top: 0;
			height: 100%;
			width: 50%;
			transform: translateX(0);
			transition: transform 0.6s ease-in-out;
		}

		.overlay-left {
			transform: translateX(-20%);
		}

		.container.right-panel-active .overlay-left {
			transform: translateX(0);
		}

		.overlay-right {
			right: 0;
			transform: translateX(0);
		}

		.container.right-panel-active .overlay-right {
			transform: translateX(20%);
		}

		.social-container {
			margin: 20px 0;
		}

			.social-container a {
				border: 1px solid #DDDDDD;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin: 0 5px;
				height: 40px;
				width: 40px;
			}

		footer {
			background-color: #222;
			color: #fff;
			font-size: 14px;
			bottom: 0;
			position: fixed;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 999;
		}

			footer p {
				margin: 10px 0;
			}

			footer i {
				color: red;
			}

		body {
			background: #f6f5f7;
			background-image: url("./img/bg-img/3.jpg");
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-family: 'Montserrat', sans-serif;
			height: 100vh;
			margin: -20px 0 50px;
		}

		footer a {
			color: #3c97bf;
			text-decoration: none;
		}

		.hero-post2 {
			background-image: url("https://www.sgaumc.org/files/tables/content/14141271/fields/primaryimage/36a24856cedf48d98874abf026e976f7/back+to+school+2020.jpg");
			background-size: cover;
			
		}
	</style>

</head>
<body class="hero-post2" >
	<!-- partial:index.partial.html -->
	<h1 style="color:dodgerblue; font-weight:50px; font-size:50px;">Welcome to Braniac</h1>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#" id="signup-form">
				<h1>Create Account</h1>
@*				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>*@
				@*<span>or use your email for registration</span>*@
				<input id="signup-name" type="text" placeholder="Name" />
				<input id="signup-email" placeholder="Email" />
				<input id="signup-password" placeholder="Password" />
				<input type="radio" id="signup-student" name="signup-role" value="1"> Student	
				<input type="radio" id="signup-teacher" name="signup-role" value="2"> Teacher
				<button style="background-color:blue">Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="#" id="login-form">
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input id="username-login" onkeyup="checkLogin()" type="text" placeholder="Email" />
				<input id="password-login" onkeyup="checkLogin()" type="password" placeholder="Password" />
				<button style="background-color:blue" id="forGot">Forgot your password?</button>
				<h4 style="color: red" id="login-message"></h4>
				<button id="signin-button" style="background-color:blue">Sign In</button>
			</form>
		</div>
		<div style="background-color:blue" class="overlay-container">
			<div class="overlay">
				<div style="background-color:blue" class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p style="color:white;">To keep connected with us please login with your personal info</p>
					<button style="background-color:blue" class="ghost" id="signIn">Sign In</button>
				</div>
				<div style="background-color:blue" class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p style="color:white;">  your personal details and start journey with us</p>
					<button style="background-color:blue" class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

	<div id="popup1" class="overlay2">
		<div class="popup" style="margin:auto;">
			<div class="form-gap"></div>
			<div class="container">
				<div style="width: 300px;" class="row">
					<div style="width: 300px;" class="col-md-4 col-md-offset-4">
						<button class="close" id="close">&times;</button>
						<div style="width: 500px;" class="panel panel-default">
							<div class="panel-body">
								<div class="text-center">
									<h3><i class="fa fa-lock fa-4x"></i></h3>
									<h2 class="text-center">Forgot Password?</h2>
									<p>You can reset your password here.</p>
									<div class="panel-body">

										<form id="register-form" role="form" autocomplete="off" class="form" method="post">

											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
													<input id="email" name="email" placeholder="email address" class="form-control" type="email">
												</div>
											</div>
											<div class="form-group">
												@*<a href="#"> <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit"> <a />*@
											</div>

											<input type="hidden" class="hide" name="token" id="token" value="">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->

<script>
	const signUpButton = document.getElementById('signUp');
	const signInButton = document.getElementById('signIn');
	const container = document.getElementById('container');

	const overlay2 = document.getElementById('popup1');
	//const forGotButton = document.getElementById('forGot');
	const closeButton = document.getElementById('close');

	document.getElementById("signin-button").disabled = true;
	function checkLogin() {
		console.log("changed");
		var u = document.getElementById("username-login").value;
		var p = document.getElementById("password-login").value;
		if (u.length > 0 && p.length > 0){
			document.getElementById("signin-button").disabled = false;
		}
		else{
			document.getElementById("signin-button").disabled = true;
		}
	}

		const formSignup = document.getElementById('signup-form');

		formSignup.addEventListener('submit', (event) => {
		event.preventDefault();
			var name = document.getElementById("signup-name").value;
			var email = document.getElementById("signup-email").value;
			var password = document.getElementById("signup-password").value;
			var roleid = document.getElementById('signup-student').checked ? 1 : 2;
		fetch("http://localhost:5020/api/signup", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"Accept": "application/json",
			},
			body: JSON.stringify({
				email: email,
				password: password,
				userName: name,
				roleid: roleid
			})
		}).then(data => {
			if (!data) {
				window.location.href = "/home/login";
			}
		}).catch(e => console.log("error::", e));
	});

		const form = document.getElementById('login-form');

		form.addEventListener('submit', (event) => {
			event.preventDefault();
			var u = document.getElementById("username-login").value;
			var p = document.getElementById("password-login").value;
			fetch("http://localhost:5020/api/login", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"Accept": "application/json",
				},
				body: JSON.stringify({
					email: u,
					password: p,
				})
			}).then((data) => {
				if (data.role != null && data.role != undefined) {
					document.cookie = `web-at=${data.accessToken.toString()}; path=/`;
					document.cookie = `web-rt=${data.refreshToken.toString()}; path=/`;
					if (data.role.toString() == "Student") {
						window.location.href = "/";
					}
					window.location.href = "/" + data.role + '/dashboard';
				}
			}).catch(e => console.log("error::", e));
		});

	signUpButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
	});

	signInButton.addEventListener('click', () => {
		container.classList.remove("right-panel-active");
	});

</script>

</body>
</html>
